# docker-compose.yml
version: "3.8"

services:
  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    volumes:
      - ./front/:/code/front
      - ./front/node_modules/:/code/front/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
  admin:
    build:
      context: ./admin
      dockerfile: Dockerfile
    volumes:
      - ./admin/:/code/admin
      - ./admin/node_modules/:/code/admin/node_modules
    ports:
      - "4000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true

  mysqldb:
    build:
      context: .server/swagger_server/database/
      dockerfile: Dockerfile
    ports:
    - 3308:3306
    environment:
    - MYSQL_ROOT_PASSWORD=test_password
    - MYSQL_DATABASE=foto_portfolio 
    - MYSQL_HOST=localhost
    volumes:
      - mysql:/var/lib/mysql
      - mysql_config:/etc/mysql
    networks:
    - python-network 

  web:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
    - 8080:8080
    volumes:
    - ./:/usr/src/app
    networks:
    - python-network 
    depends_on:
      - mysqldb  

volumes:
  mysql:
  mysql_config:

networks:
  python-network:
    driver: bridge
