.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

.navbar {
  height: 100%;
}

.content {
  width: 100%;
}

.page_content {
  position: relative;
  padding-top: 20px;
}