.input {
  padding: 10px 20px;
  border-bottom: 1px solid var(--secondary-o50);

  &::placeholder {
    transition: var(--base-transition);
    color: var(--secondary-o50);
  }

  &:active,
  &:focus {
    border-color: var(--secondary);

    &::placeholder {
      color: var(--secondary-o50);
    }
  }
}

.input_wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
}