.social_media_section {
  padding-top: 6rem;
}

.social_media_section_inner {

}

.social_media_section_links {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3em;
  padding-top: 1.5em;
}