:root {

    /*              Colors          */
    --primary: #6D63D0FF;
    --secondary: #333;
    --primary-light: #2d82b7;
    --theme-primary: #fff;
    --theme-secondary: #333;

    /*              Others          */

    --base-radius: 1rem;
}