:root {

    /*              Colors          */
    --primary: rgb(109, 99, 208);
    --primary-o50: rgba(109, 99, 208, .5);

    --secondary: rgb(51, 51, 51);
    --secondary-o50: rgba(51, 51, 51, .5);

    --theme-primary: 255, 255, 255;
    --theme-primary-o50: rgba(255, 255, 255, .5);

    --theme-secondary: 51, 51, 51;
    --theme-secondary-o50: rgba(51, 51, 51, .5);


    /*              Others          */

    --base-radius: 1rem;
    --base-transition: all .3s ease-in-out;
    --base-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.20);

    --level-1: 99;
    --level-2: 999;
    --level-3: 9999;
    --level-4: 99999;
}