.auth_page {

  > div {
    margin: auto;
  }

  &_inner {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  &_logo {
    margin-bottom: 20px;
  }

  &_error {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;

    &_active {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

}