.page_list_item {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
  padding: 10px 0;
  border-top: 1px solid var(--secondary);

  &_actions {
    display: flex;
    gap: 10px;
  }

  &_action {
    svg {
      width: 20px;
    }
  }
}

.delete_popup {
  transition: var(--base-transition);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;

  &_active {
    visibility: visible;
    opacity: 1;
  }

  &_buttons {
    display: flex;
    gap: 15px;
  }
}