.tabs {
  &_wrapper {
    display: flex;
    width: fit-content;

    div {
      transition: var(--base-transition);
      padding: 15px 30px;
      background-color: var(--secondary-o50);
      border-right: 3px solid var(--white);
      cursor: pointer;

      &:hover {
        background-color: var(--secondary);
      }

      &.active {
        background-color: var(--primary);

        span {
          font-weight: 700;
        }
      }
    }
  }

  &_content {
    margin-top: 20px;
  }
}