@import "src/common/utils/scss/index";

.h1,
.h2,
.h3,
.h4{
  @include title-styles;
  display: inline-block;
}

.h1 {
  font-size: 48px;
}

.h2 {
  display: block;
  font-size: 36px;
  @include title-styles;
}

.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 16px;
}

.p, .span
p, span{
  font-size: 14px;
  font-weight: 300;
  line-height: 150.9%;
  letter-spacing: 0.025em;
  color: var(--secondary);
  display: inline-block;
}


.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-white {
  color: var(--white);
}

.weight {
  &-100 {
    font-weight: 100;
  }

  &-200 {
    font-weight: 200;
  }

  &-300 {
    font-weight: 300;
  }

  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: 500;
  }

  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: 700;
  }

  &-800 {
    font-weight: 800;
  }

  &-900 {
    font-weight: 900;
  }
}